@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-display: swap;
    src: local('Caveat'), url(./../assets/fonts/Caveat-Regular.ttf) format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Caveat';
    src: local('Caveat Medium'), url(./../assets/fonts/Caveat-Medium.ttf) format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Caveat';
    src: local('Caveat SemiBold'), url(./../assets/fonts/Caveat-SemiBold.ttf) format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Caveat';
    src: local('Caveat Bold'), url(./../assets/fonts/Caveat-Bold.ttf) format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    src: local('Poppins'), url(./../assets/fonts/Poppins-ExtraLight.ttf) format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins Light'), url(./../assets/fonts/Poppins-Light.ttf) format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), url(./../assets/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), url(./../assets/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins ExtraBold'), url(./../assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
    font-weight: 900;
  }
  